// contains main styles which are used in more different files

// importing Sass mixins
@use "../abstracts" as abs;

.blankSection {
	height: 4rem;

	background-color: var(--color-black-transparent);

	@include abs.mq(0px, 550px) {
		height: 6rem;
	}

	@include abs.mq(0px, 850px) {
		height: 16rem;
	}
}

.pageHeading {
	margin-block: 0.5rem;

	text-align: center;
	font-size: clamp(1.5rem, 1rem + 5vw, 3rem);
	color: var(--color-white);
}
