// contains main styles which are used in more different files

// importing Sass mixins
@use "../abstracts" as abs;

.main {
	color: var(--color-white);
}

.blankSection {
	height: 6rem;

	@include abs.mq(0px, 800px) {
		height: 12rem;
	}
}

.pageHeading {
	margin-top: 2rem;

	text-align: center;
	font-size: 3rem;
}
