// contains main styles which are used in more different files

// importing Sass mixins
@use "../abstracts" as abs;

.main {
	color: var(--color-white);
}

.blankSection {
	height: 3rem;

	@include abs.mq(0px, 800px) {
		height: 12rem;
	}
}

.pageHeading {
	margin-top: 0.5rem;

	text-align: center;
	font-size: 1.5rem;

	@include abs.mq(700px, 550px) {
		margin-top: 2rem;

		font-size: 3rem;
	}
}
