// root scss file, styles :root, *, body and scrollbar

@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Lao:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
	// font family
	--font-family: "Noto Serif Lao", serif;

	--letter-spacing: 0.05rem;
	--font-size-200: clamp(2rem, 3vw + 0.5rem, 2.5rem);
	--font-size-175: clamp(1.75rem, 3vw + 0.5rem, 2.25rem);
	--font-size-150: clamp(1.5rem, 3vw + 0.5rem, 2rem);
	--font-size-125: clamp(1.25rem, 3vw + 0.5rem, 1.75rem);
	--font-size-100: clamp(1rem, 3vw + 0.5rem, 1.5rem);
	--font-size-075: clamp(0.75rem, 3vw + 0.5rem, 1.25rem);
	--font-size-050: clamp(0.5rem, 3vw + 0.5rem, 1rem);
}

*,
*::before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	-webkit-tap-highlight-color: transparent;

	font-family: var(--font-family);

	scroll-behavior: smooth;
}

::selection {
	background-color: var(--color-primary);

	color: var(--color-action);
}

body {
	background-color: var(--color-dark);
}

::-webkit-scrollbar {
	width: 0.75rem;

	&-track {
		background-color: var(--color-light);
	}

	&-thumb {
		background: var(--color-dark);

		&:hover {
			background: var(--color-action);
		}
	}
}
