// root scss file, styles :root, *, body and scrollbar

// importing Sass mixins
@use "../abstracts" as abs;

:root {
	// colors

	--color-black: hsl(0, 0%, 0%);
	--color-black-transparent: hsl(0, 0%, 0%, 0.75);
	--color-lightgray: hsl(0, 0%, 80%);
	--color-white: hsl(0, 0%, 100%);

	--color-blue: hsl(207, 100%, 20%); // general color
	--color-green: hsl(127, 100%, 60%); // call to action color
	--color-orange: hsl(15, 100%, 50%); // reaction color

	// font family
	--font-family: "Montserrat", sans-serif;
}

*,
*::before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	-webkit-tap-highlight-color: transparent;

	scroll-behavior: smooth;

	font-family: var(--font-family);
}

::selection {
	background-color: var(--color-lightgray);

	color: var(--color-black);
}

body {
	background-color: var(--color-lightgray);
}

::-webkit-scrollbar {
	width: 0.75rem;

	&-track {
		background: var(--color-lightgray);
	}

	&-thumb {
		background: var(--color-gray);

		&:hover {
			background: var(--color-darkgray);
		}
	}
}
