// importing Sass mixins
@use "../../assets/styles/abstracts" as abs;

.pageContainer {
	@include abs.mq(700px, 0px) {
		min-height: 100vh;

		background-image: url(../../assets/images/space-bg.jpg);
		background-position: center;
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-size: cover;

		display: grid;
		grid-template-columns: 1fr 8fr;
	}

	.aside {
		height: 10vh;
		width: 100vw;
		top: 0;
		left: 0;
		position: sticky;

		display: flex;
		flex-direction: row;

		@include abs.mq(700px, 0px) {
			height: 100vh;
			width: auto;

			flex-direction: column;
		}

		outline: 1px solid var(--color-black);
		background-color: var(--color-black-transparent);

		.logo {
			position: relative;
			top: 0rem;

			@include abs.mq(0px, 600px) {
				top: 2rem;
			}

			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 0.25rem;

			width: 100%;
			padding-block: 2rem;

			text-align: center;
			color: var(--color-white);

			span {
				&:first-child {
					font-size: 1.6rem;
					font-weight: bold;
				}
				&:nth-child(2) {
					font-size: 1.2rem;
				}
				&:last-child {
					font-size: 1rem;
					font-style: italic;
				}
			}
		}

		nav {
			position: relative;
			top: 5vh;

			@include abs.mq(0px, 600px) {
				top: 10vh;
			}

			@include abs.mq(0px, 800px) {
				top: 25vh;
			}

			display: grid;
			place-items: center;

			ul {
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				gap: 5rem;

				@include abs.mq(700px, 550px) {
					flex-direction: column;
				}

				list-style: none;

				li {
					.navbar__link {
						@include abs.mq(700px, 0px) {
							padding: 0.5rem 1rem;
						}
						@include abs.mq(1400px, 0px) {
							padding: 1rem 2rem;
						}

						border-radius: 100vmax;
						outline: 0.1rem solid var(--color-white);
						outline-offset: 0.2rem;
						background-color: var(--color-black-transparent);

						text-decoration: none;
						color: var(--color-white);
						font-size: 1.2rem;

						transition: all 0.35s ease;

						&:hover {
							background-color: var(--color-gray-transparent);
							box-shadow: 0rem 0rem 0.5rem 0.75rem var(--color-black-transparent);
						}

						&:active {
							background-color: var(--color-gray);
						}
					}

					.navbar__link--active {
						background-color: var(--color-gray);

						&:hover {
							background-color: var(--color-gray);
							box-shadow: none;
						}

						&:active {
							background-color: var(--color-gray);
						}
					}
				}
			}
		}
	}
}
