// importing Sass mixins
@use "../../assets/styles/abstracts" as abs;

.navbar {
	position: sticky;
	top: 0;
	z-index: 10;

	padding-left: 2rem;
	@include abs.mq(500px, 0px) {
		padding-left: 6rem;
	}
	padding-right: 2rem;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	background-color: var(--color-black);

	.logo {
		display: flex;
		flex-direction: column;
		place-items: center;
		gap: 0.1rem;

		padding-block: 0.5rem;

		text-align: center;
		color: var(--color-white);

		span {
			&:first-child {
				font-size: 1.5rem;
				font-weight: bold;
			}
			&:nth-child(2) {
				font-size: 1.2rem;
			}
			&:last-child {
				font-size: 1rem;
				font-style: italic;
			}
		}
	}

	.hamburgerButton {
		@include abs.mq(1200px, 0px) {
			display: none;
		}

		--line-height: 0.25rem;
		--white-space: 0.5625rem;

		position: relative;

		border-radius: 0.25rem;
		width: 3rem;
		height: 3rem;

		background-color: var(--color-gray);
		outline-offset: 0.1rem;

		transition: all 0.5s ease;

		cursor: pointer;

		&:hover,
		&:focus-visible {
			opacity: 0.8;

			outline: 0.1rem solid var(--color-white);
		}

		&:active {
			opacity: 0.6;
		}

		span {
			display: block;

			position: absolute;
			left: 0.5rem;
			right: 0.5rem;

			height: var(--line-height);
			border-radius: 0.75rem;

			background-color: var(--color-white);

			transition: all 0.5s ease;

			&:nth-child(1) {
				top: var(--white-space);
			}

			&:nth-child(2) {
				top: calc(var(--white-space) * 2 + var(--line-height));
			}

			&:nth-child(3) {
				top: calc(var(--white-space) * 3 + var(--line-height) * 2);
			}
		}

		.hamburgerOpen:nth-child(1) {
			top: calc(var(--white-space) * 2 + var(--line-height));
			transform: rotate(135deg);
		}

		.hamburgerOpen:nth-child(3) {
			top: calc(var(--white-space) * 2 + var(--line-height));
			transform: rotate(-135deg);
		}

		.hamburgerOpen:nth-child(2) {
			transform: scale(0);
		}
	}
}

.mobileNavbarHidden {
	transform: scale(0, 1);
	transform-origin: right;
}

.mobileNavbar {
	@include abs.mq(1200px, 0px) {
		display: none;
	}

	position: fixed;
	right: 0;
	z-index: 10;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.desktopNavbar {
	display: none;

	@include abs.mq(1200px, 0px) {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 5rem;
	}
}

.navbarStyle {
	list-style: none;
	text-align: center;

	transition: all 0.25s ease-in-out;

	.navbar__link {
		width: 100%;
		padding-inline: 1.5rem;
		padding-block: 0.5rem;
		border-bottom: 1px solid var(--color-black);

		background-color: var(--color-black-transparent);

		font-size: 1.75rem;
		text-decoration: none;
		color: var(--color-white);

		user-select: none;

		transition: all 0.35s ease;

		&:hover {
			background-color: var(--color-gray-transparent);
		}

		&:active {
			background-color: var(--color-gray);
		}

		ion-icon {
			transform: translate(-0.5rem, 0.15rem);
		}
	}
}
