// importing Sass mixins
@use "../../assets/styles/abstracts" as abs;

.homePage {
	min-height: 100vh;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	gap: 2.5rem;

	@include abs.mq(700px, 550px) {
		gap: 5rem;
	}

	.nameAndImage {
		display: flex;
		flex-direction: column;
		justify-self: center;
		align-items: center;
		gap: 2.5rem;

		padding-top: 2rem;

		@include abs.mq(700px, 550px) {
			flex-direction: row;
			gap: 15rem;
			padding-top: 0rem;
		}

		@include abs.mq(1400px, 550px) {
			flex-direction: row;
			gap: 30rem;
		}

		h1 {
			width: 20vw;
			max-width: 20rem;

			font-size: 1.5rem;

			transform: translatex(-40vw);

			@include abs.mq(300px, 0px) {
				transform: translatex(-20vw);
			}

			@include abs.mq(700px, 550px) {
				font-size: 2.5rem;

				transform: translatex(0rem);
			}
		}

		img {
			width: 10rem;
			height: 10rem;

			@include abs.mq(1400px, 550px) {
				width: 20rem;
				height: 20rem;
			}

			@include abs.mq(2100px, 550px) {
				width: 30rem;
				height: 30rem;
			}

			border-radius: 50%;
			outline: 0.5rem solid var(--color-lightgray);
			outline-offset: 0.5rem;

			user-select: none;
		}
	}

	h2 {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 1rem;

		word-spacing: 0.1rem;
		text-align: center;
		font-size: 1rem;

		@include abs.mq(700px, 550px) {
			gap: 2rem;

			word-spacing: 0.5rem;
			font-size: 2.5rem;
		}

		span {
			&:first-child,
			&:last-child {
				font-size: 2rem;

				@include abs.mq(700px, 550px) {
					font-size: 4rem;
				}
			}
		}
	}

	.reactImage {
		width: 7rem;
		height: 6rem;

		@include abs.mq(700px, 550px) {
			width: 14rem;
			height: 12rem;
		}

		user-select: none;

		animation: reactRotation 8s infinite linear;

		@keyframes reactRotation {
			0% {
				transform: rotate(0deg);
			}
			100% {
				transform: rotate(360deg);
			}
		}
	}
}
