// importing Sass mixins
@use "../../assets/styles/abstracts" as abs;

.homePage {
	padding-block: 2rem;
	min-height: 95vh;

	display: grid;
	place-items: center;
	gap: 2rem;
	grid-template-columns: repeat(1, 1fr);

	@include abs.mq(1400px, 0px) {
		grid-template-columns: repeat(2, 1fr);
	}

	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;

	img {
		width: clamp(15rem, 20vw, 20rem);
		aspect-ratio: 1 / 1;

		border-radius: 4rem 1rem;

		user-select: none;
	}

	.text {
		display: grid;
		place-items: center;

		padding-block: 2rem;
		padding-inline: clamp(0.5rem, 5vw, 5rem);

		color: var(--color-light);
		text-align: center;
		text-shadow: 0.2rem 0.2rem var(--color-dark), -0.2rem -0.2rem var(--color-dark),
			-0.2rem 0.2rem var(--color-dark), 0.2rem -0.2rem var(--color-dark);

		h1 {
			max-width: 20rem;

			font-size: clamp(1.5rem, 10vw, 2.5rem);
		}

		h2 {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			gap: clamp(1rem, 2vw, 2rem);

			font-size: clamp(1.25rem, 10vw, 2.25rem);

			span {
				&:first-child,
				&:last-child {
					font-size: 3rem;
				}
			}
		}
	}
}
