// importing Sass mixins
@use "../../assets/styles/abstracts" as abs;

.aboutPage {
	background-color: var(--color-primary-transparent);

	color: var(--color-light);

	h3 {
		padding-block: clamp(1.5rem, 4vh, 3.5rem);

		font-size: clamp(1.2rem, 9vw, 2.75rem);
		text-align: center;
	}

	&--articles {
		article {
			padding-block: clamp(2rem, 20vh, 10rem);
			padding-inline: clamp(1rem, 5vw, 5rem);
			border-block: 1px solid var(--color-light);

			&:last-child {
				border-bottom: none;
			}

			header {
				@include abs.mq(1400px, 0px) {
					display: grid;
					grid-template-columns: repeat(2, 1fr);
					place-items: center;
				}
			}

			h4 {
				padding-block: clamp(0.5rem, 1vh, 1rem);

				text-align: center;
				font-size: clamp(1.1rem, 8vw, 2.5rem);
			}

			ul {
				padding-block: 2rem;

				list-style: none;

				li {
					margin: 0 auto;
					padding-block: clamp(0.5rem, 2.5vh, 1.5rem);
					max-width: 50rem;

					font-size: clamp(1rem, 5vw, 1.35rem);
					line-height: clamp(1.25rem, 4vh, 2rem);
					text-align: center;
				}
			}

			a {
				display: grid;
				place-items: center;

				margin-inline: auto;
				margin-top: 1rem;

				outline: 0.2rem solid var(--color-primary);

				transition: all 0.35s ease;

				&:hover,
				&:focus-visible,
				&:active {
					outline: 0.2rem solid var(--color-action);
				}

				img {
					width: clamp(15rem, 30vw, 25rem);
					aspect-ratio: 16/9;
				}
			}
		}
	}
}
