// importing Sass mixins
@use "../../assets/styles/abstracts" as abs;

.aboutPage {
	display: none;

	min-height: 100vh;

	&--contents {
		h3 {
			padding-block: 0.5rem;

			text-align: center;
			font-size: 1rem;

			@include abs.mq(700px, 550px) {
				padding-block: 1.5rem;

				font-size: 2rem;
			}

			@include abs.mq(1400px, 550px) {
				padding-block: 2.5rem;

				font-size: 3rem;
			}
		}

		&--articles {
			display: grid;
			grid-template-columns: repeat(1, 1fr);

			@include abs.mq(1400px, 550px) {
				grid-template-columns: 1fr 1fr;
			}

			article {
				width: 95%;
				margin: 1rem auto;
				padding: 2rem;

				border-radius: 1rem;

				background-color: var(--color-black-transparent);

				> * {
					padding-bottom: 1rem;
				}

				h4 {
					padding-bottom: 1rem;

					text-align: center;
					font-size: 1rem;

					@include abs.mq(700px, 550px) {
						padding-bottom: 1.5rem;

						font-size: 1.25rem;
					}

					@include abs.mq(700px, 550px) {
						padding-bottom: 2rem;

						font-size: 1.5rem;
					}
				}

				ul {
					list-style: circle;

					line-height: 1.25rem;

					@include abs.mq(700px, 550px) {
						line-height: 1.5rem;
					}

					li {
						padding-block: 0.25rem;
						font-size: 1rem;

						@include abs.mq(700px, 550px) {
							padding-block: 0.5rem;
							font-size: 1.2rem;
						}
					}
				}

				a {
					display: grid;
					place-items: center;

					width: fit-content;
					margin: 0 auto;

					img {
						width: 10rem;
						max-height: 7.5rem;

						@include abs.mq(350px, 550px) {
							width: 15rem;
							max-height: 10rem;
						}

						@include abs.mq(700px, 550px) {
							width: 20rem;
							max-height: 15rem;
						}
					}

					transition: all 0.25s ease;

					&:hover,
					&:focus-visible {
						opacity: 0.8;
					}
				}
			}
		}
	}
}
