// importing Sass mixins
@use "../../assets/styles/abstracts" as abs;

.aboutPage {
	color: var(--color-light);

	h3 {
		margin-top: clamp(0.1rem, 2vh, 1rem);
		margin-top: clamp(0.1rem, 2svh, 1rem);
		margin-bottom: clamp(0.1rem, 2vh, 1rem);
		margin-bottom: clamp(0.1rem, 2svh, 1rem);

		&:first-child {
			margin-top: 0rem;
		}

		padding-block: clamp(1.25rem, 3vh, 3rem);
		padding-block: clamp(1.25rem, 3svh, 3rem);

		background-color: var(--color-primary-transparent);

		font-size: var(--font-size-175);
		text-align: center;
		letter-spacing: var(--letter-spacing);
		word-spacing: 0.25rem;
	}

	&--articles {
		overflow-x: hidden;
		display: grid;
		gap: clamp(0.1rem, 2vh, 1rem);
		gap: clamp(0.1rem, 2svh, 1rem);

		isolation: isolate;

		article {
			padding-block: clamp(1rem, 7.5vh, 5rem);
			padding-block: clamp(1rem, 7.5svh, 5rem);
			padding-inline: clamp(1rem, 5vw, 5rem);

			background-color: var(--color-primary-transparent);
			opacity: 0;

			transition: all 0.35s ease;

			&:nth-child(2n + 1) {
				transform: translateX(20vw);
			}

			&:nth-child(2n) {
				transform: translateX(-20vw);
			}

			&::before {
				content: "";
				position: absolute;

				top: 0;
				right: 0;
				z-index: -1;

				background-color: var(--color-primary-transparent);

				height: 100%;
				width: 10rem;

				@include abs.mq(1300px, 0px) {
					width: 50rem;
				}

				clip-path: polygon(100% 0, 100% 10%, 10% 100%, 0 100%);
			}

			header {
				z-index: 1;

				@include abs.mq(1300px, 0px) {
					display: grid;
					grid-template-columns: repeat(2, 1fr);
					place-items: center;
				}
			}

			h4 {
				padding-block: clamp(0.5rem, 1vh, 1rem);
				padding-block: clamp(0.5rem, 1svh, 1rem);

				z-index: 1;

				text-align: center;
				font-size: var(--font-size-200);
			}

			ul {
				padding-block: clamp(0.25rem, 1vh, 2rem);
				padding-block: clamp(0.25rem, 1svh, 2rem);

				z-index: 1;

				list-style: none;

				li {
					margin: 0 auto;
					padding-block: clamp(0.5rem, 2.5vh, 1.25rem);
					padding-block: clamp(0.5rem, 2.5svh, 1.25rem);
					max-width: 50rem;

					opacity: 0;

					font-size: var(--font-size-125);
					letter-spacing: var(--letter-spacing);
					word-spacing: 0.25rem;
					line-height: clamp(1rem, 4vh, 2rem);
					line-height: clamp(1rem, 4svh, 2rem);
					text-align: center;
					color: var(--color-light);

					transform: translateY(5vh);
					transform: translateY(5svh);
				}
			}

			a {
				display: grid;
				place-items: center;

				margin-inline: auto;
				margin-top: 1rem;

				z-index: 1;

				width: fit-content;

				outline: 0.2rem solid var(--color-primary);

				transition: all 0.35s ease;

				&:hover,
				&:focus-visible,
				&:active {
					outline: 0.2rem solid var(--color-action);
				}

				img {
					z-index: 1;

					width: clamp(15rem, 30vw, 25rem);
					aspect-ratio: 16/9;
				}
			}
		}

		.aboutItemVissible {
			opacity: 1;

			&:nth-child(n) {
				transform: translateX(0vw);
			}

			li {
				opacity: 1;

				transform: translateY(0vh);
				transform: translateY(0svh);

				transition: all 0.35s ease;

				&:nth-child(1) {
					transition-delay: 0.5s;
				}

				&:nth-child(2) {
					transition-delay: 1s;
				}

				&:nth-child(3) {
					transition-delay: 1.5s;
				}

				&:nth-child(4) {
					transition-delay: 2s;
				}

				&:nth-child(5) {
					transition-delay: 2.5s;
				}
			}
		}
	}
}
