// importing Sass mixins
@use "../../assets/styles/abstracts" as abs;

.projectsPage {
	min-height: max-content;
	margin-bottom: 0.5rem;

	&__container {
		display: grid;
		grid-template-columns: 1fr;

		@include abs.mq(1400px, 0px) {
			grid-template-columns: 2fr 1fr;
		}
	}
}
