// importing Sass mixins
@use "../../assets/styles/abstracts" as abs;

.projectsPage {
	min-height: 100vh;

	display: none;
	@include abs.mq(--width-small, 0px) {
	}

	&__container {
		display: grid;
		grid-template-columns: 2fr 1fr;
	}
}
