// importing Sass mixins
@use "../../../assets/styles/abstracts" as abs;

.homeNavigationGrid {
	padding-block: clamp(2rem, 5vh, 5rem);
	padding-block: clamp(2rem, 5svh, 5rem);

	display: grid;
	grid-template-columns: 1fr;
	@include abs.mq(1300px, 0px) {
		grid-template-columns: repeat(3, 1fr);
	}
	row-gap: clamp(2rem, 5vh, 5rem);
	row-gap: clamp(2rem, 5svh, 5rem);
	place-items: center;

	background-color: var(--color-primary-transparent);
	overflow-x: hidden;

	div {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		gap: clamp(2rem, 5vh, 5rem);
		gap: clamp(2rem, 5svh, 5rem);

		&:nth-child(2) {
			display: none;

			@include abs.mq(1300px, 0px) {
				display: grid;
			}
		}

		a,
		p {
			background-color: var(--color-dark);

			color: var(--color-light);
			font-size: var(--font-size-175);
			text-align: center;
		}

		p {
			padding: clamp(1rem, 4vh, 3rem) clamp(2rem, 4vw, 5rem);
			padding: clamp(1rem, 4svh, 3rem) clamp(2rem, 4vw, 5rem);

			border-left: 0.2rem solid var(--color-dark);
			border-right: 0.2rem solid var(--color-dark);

			transform: rotate(0deg);
			transition: all 0.35s ease;
		}

		.rotateText-plus {
			transform: rotate(10deg);
		}

		.rotateText-minus {
			transform: rotate(-10deg);
		}

		.arrow-left {
			border-left: 0.2rem solid var(--color-action);
		}

		.arrow-right {
			border-right: 0.2rem solid var(--color-action);
		}

		a {
			padding: clamp(0.75rem, 3vh, 2.25rem) clamp(1.5rem, 3vw, 3.75rem);
			padding: clamp(0.75rem, 3svh, 2.25rem) clamp(1.5rem, 3vw, 3.75rem);
			border-radius: 100vmax;

			outline: 0.2rem solid transparent;
			opacity: 0;

			text-decoration: none;
			color: var(--color-light);

			transition: all 0.35s ease-in-out, opacity 1s ease;

			&:hover,
			&:focus-visible {
				outline: 0.2rem solid var(--color-action);

				svg {
					fill: var(--color-action);
					stroke: var(--color-action);
				}
			}

			&:active {
				color: var(--color-action);

				svg {
					fill: var(--color-action);
					stroke: var(--color-action);
				}
			}

			span {
				margin-left: 0.5rem;

				pointer-events: none;
			}
		}

		.navigationButtonBeforeAnimation-left {
			transform: translateX(-20vw);
		}

		.navigationButtonBeforeAnimation-right {
			transform: translateX(20vw);
		}

		.vissibleNavigationButton {
			opacity: 1;

			transform: translateX(0vw);
		}
	}
}
