// importing Sass mixins
@use "../../assets/styles/abstracts" as abs;

.skillsPage {
	display: grid;
	grid-template-columns: 1fr 2fr;

	padding-block: 1rem;

	background-color: var(--color-primary-transparent);

	color: var(--color-light);

	.images {
		border-right: 1px dashed var(--color-light);

		padding-block: 2rem;

		display: grid;
		place-items: center;
		grid-template-columns: 1fr;
		@include abs.mq(1400px, 0px) {
			grid-template-columns: repeat(2, 1fr);
		}
		row-gap: clamp(1rem, 8vh, 6rem);

		button {
			outline: 0.25rem solid transparent;

			opacity: 0;

			transition: all 0.35s ease, opacity 1s ease;

			&:hover,
			&:focus-visible,
			&:active {
				outline: 0.25rem solid var(--color-action);
			}

			&.activeImage {
				outline: 0.25rem solid var(--color-action);
			}

			img {
				display: block;

				width: clamp(4rem, 10vw, 8rem);
				aspect-ratio: 1 / 1;

				padding: clamp(0.125rem, 3vw, 1rem);

				background-color: var(--color-dark);

				user-select: none;
			}
		}

		.vissibleButton {
			opacity: 1;
		}
	}

	.description {
		.sticky {
			position: sticky;
			top: 6rem;

			h3 {
				padding-top: clamp(0.5rem, 2vh, 2.5rem);

				font-size: clamp(1.15rem, 3vw, 2.5rem);
				text-align: center;
			}

			header {
				padding-top: clamp(0.5rem, 3vh, 2.5rem);
				font-size: clamp(1.15rem, 3vw, 2rem);
				text-align: center;
				font-weight: bold;
			}

			ul {
				padding-block: clamp(0.5rem, 2vh, 1rem);
				padding-left: clamp(1.5rem, 4vw, 3rem);
				padding-right: clamp(0.5rem, 2vw, 1.5rem);

				list-style: disc;

				li {
					padding-top: clamp(0.25rem, 2vh, 1.5rem);

					font-size: clamp(1rem, 2vw, 1.75rem);
					line-height: clamp(1rem, 3vh, 2rem);
				}
			}
		}
	}
}
