// importing Sass mixins
@use "../../assets/styles/abstracts" as abs;

.skillsPage {
	min-height: max-content;

	.skillsPage__container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);

		margin-bottom: 1rem;

		background-color: var(--color-black-transparent);

		color: var(--color-white);

		h3 {
			padding-block: 0.5rem;

			text-align: center;
			font-size: 1.15rem;

			@include abs.mq(700px, 550px) {
				padding-block: 1.5rem;

				font-size: 2rem;
			}

			@include abs.mq(1400px, 550px) {
				padding-block: 2.5rem;

				font-size: 2.5rem;
			}
		}

		.leftPart {
			border-right: 1px solid var(--color-lightgray);

			.left-grid {
				padding-block: 1rem;

				display: grid;
				place-items: center;
				grid-template-columns: repeat(1, 1fr);
				row-gap: 1rem;

				@include abs.mq(700px, 0px) {
					row-gap: 3rem;
				}

				img {
					width: 3rem;
					height: 3rem;

					padding: 0.125rem;

					@include abs.mq(700px, 0px) {
						width: 6rem;
						height: 6rem;

						padding: 0.5rem;
					}

					user-select: none;

					transition: all 0.35s ease;

					&:hover,
					&:focus-visible,
					&:active {
						border-radius: 1rem;
						background-color: var(--color-green);
					}
				}

				.activeImage {
					border-radius: 1rem;
					background-color: var(--color-green);
				}
			}
		}

		.rightPart {
			.sticky {
				position: sticky;
				top: 8rem;

				header {
					text-align: center;
					font-size: 1.15rem;
					font-weight: bold;

					@include abs.mq(700px, 550px) {
						font-size: 1.5rem;
					}

					@include abs.mq(1400px, 550px) {
						font-size: 2rem;
					}
				}

				ul {
					padding-block: 3rem;
					padding-left: 1.5rem;
					padding-right: 0.5rem;

					@include abs.mq(700px, 0px) {
						padding-left: 2.5rem;
					}

					list-style: disc;

					li {
						padding-top: 0.25rem;

						font-size: 0.75rem;
						line-height: 1.1rem;

						@include abs.mq(700px, 550px) {
							padding-top: 0.75rem;

							line-height: 1.25rem;
						}

						@include abs.mq(1400px, 550px) {
							font-size: 1.5rem;
						}
					}
				}
			}
		}
	}
}
