// importing Sass mixins
@use "../../assets/styles/abstracts" as abs;

.skillsPage {
	min-height: max-content;

	.skillsPage__container {
		display: grid;
		grid-template-columns: 1fr 2fr;

		margin-bottom: 1rem;

		background-color: var(--color-black-transparent);

		color: var(--color-white);

		h3 {
			padding-top: clamp(0.5rem, 2vh, 2.5rem);

			font-size: clamp(1.15rem, 3vw, 2.5rem);
			text-align: center;
		}

		.leftPart {
			border-right: 1px dashed var(--color-lightgray);

			.left-grid {
				padding-block: 1rem;

				display: grid;
				place-items: center;
				grid-template-columns: 1fr;
				@include abs.mq(1400px, 0px) {
					grid-template-columns: repeat(2, 1fr);
				}
				row-gap: clamp(1rem, 3vh, 4rem);

				img {
					width: clamp(4rem, 10vw, 8rem);
					height: clamp(4rem, 10vw, 8rem);

					outline: 0.1rem solid transparent;
					padding: clamp(0.125rem, 1vw, 0.5rem);

					user-select: none;

					transition: all 0.35s ease;

					&:hover,
					&:focus-visible,
					&:active {
						border-radius: 1rem;
						outline: 0.1rem solid var(--color-green);
					}
				}

				.activeImage {
					outline: 0.1rem solid var(--color-green);
				}
			}
		}

		.rightPart {
			.sticky {
				position: sticky;
				top: 6rem;

				header {
					text-align: center;
					font-size: 1.15rem;
					font-weight: bold;

					@include abs.mq(700px, 550px) {
						font-size: 1.5rem;
					}

					@include abs.mq(1400px, 550px) {
						font-size: 2rem;
					}
				}

				ul {
					padding-block: 3rem;
					padding-left: 1.5rem;
					padding-right: 0.5rem;

					@include abs.mq(700px, 0px) {
						padding-left: 2.5rem;
					}

					list-style: disc;

					li {
						padding-top: 0.25rem;

						font-size: 0.75rem;
						line-height: 1.1rem;

						@include abs.mq(700px, 550px) {
							padding-top: 0.75rem;

							line-height: 1.25rem;
						}

						@include abs.mq(1400px, 550px) {
							font-size: 1.5rem;
						}
					}
				}
			}
		}
	}
}
