.projectsList {
	padding-inline: 1rem;

	display: grid;
	grid-template-columns: 1fr;
	gap: 3rem;

	&__item {
		display: flex;
		gap: 1rem;

		border-radius: 2rem;

		background-color: var(--color-black-transparent);

		img {
			padding-left: 1rem;

			flex-basis: 10rem;
			aspect-ratio: 1 / 1;
		}

		&--info {
			flex-grow: 1;

			ul {
				list-style: none;

				li {
					padding: 0.5rem 2rem;

					h3 {
						font-size: 1.5rem;
					}
				}
			}
		}
	}
}
