// importing Sass mixins
@use "../../assets/styles/abstracts" as abs;

.noPage--container {
	min-height: 100vh;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	gap: 2.5rem;

	@include abs.mq(700px, 550px) {
		gap: 5rem;
	}

	p {
		padding-inline: 1rem;

		text-align: center;
		font-size: 2.25rem;
		color: var(--color-white);

		user-select: none;
	}

	.reactImage {
		width: 7rem;
		height: 6rem;

		@include abs.mq(700px, 550px) {
			width: 14rem;
			height: 12rem;
		}

		user-select: none;

		animation: reactRotation 8s infinite linear;

		@keyframes reactRotation {
			0% {
				transform: rotate(0deg);
			}
			100% {
				transform: rotate(360deg);
			}
		}
	}
}
