.noPage--container {
	min-height: 80vh;

	display: grid;
	place-items: center;

	p {
		padding-inline: 1rem;

		text-align: center;
		font-size: 2.25rem;
		color: var(--color-white);
		line-height: 3rem;

		user-select: none;
	}
}
