// importing Sass mixins
@use "../../../../assets/styles/abstracts" as abs;

.openedProject {
	position: fixed;
	inset: 0;
	z-index: 100;

	display: grid;
	place-items: center;

	background-color: var(--color-primary-transparent);

	dialog {
		position: relative;

		display: block;
		width: 85%;

		.closeButton {
			position: absolute;
			top: 0rem;
			right: 0rem;

			display: grid;
			place-items: center;

			background-color: transparent;

			font-size: 3rem;
			color: var(--color-light);

			transform: translate(1rem, -1rem);

			transition: all 0.35s ease;

			cursor: pointer;

			&:is(:hover, :focus-visible) {
				color: var(--color-action);
			}

			ion-icon {
				pointer-events: none;
			}
		}

		h3 {
			padding-block: 1rem;

			background-color: var(--color-dark);

			font-size: 2rem;
			text-align: center;
			color: var(--color-light);
		}

		.imageContainer {
			display: grid;
			grid-template-columns: 3rem 1fr 3rem;

			button {
				background-color: transparent;

				font-size: 3rem;
				color: var(--color-action);

				transition: all 0.35s ease;

				cursor: pointer;

				&:is(:hover, :focus-visible) {
					background-color: var(--color-action);

					color: var(--color-light);
				}
			}

			img {
				display: block;
				width: 100%;

				aspect-ratio: 16 / 8;

				border: 0.5rem solid var(--color-dark);
			}
		}
	}
}
