// importing Sass mixins
@use "../../../../assets/styles/abstracts" as abs;

.openedProject {
	position: fixed;
	top: 20vh;
	left: 5vh;
	z-index: 100;

	width: 90vw;

	dialog {
		position: relative;

		display: block;
		width: auto;

		.closeButton {
			position: absolute;
			top: 0.2rem;
			right: 0.2rem;

			font-size: 2rem;
			background-color: transparent;

			transition: all 0.35s ease;

			&:is(:hover, :focus-visible) {
				color: var(--color-action);
			}

			& > ion-icon {
				pointer-events: none;
			}
		}

		h3 {
			font-size: 2rem;
			text-align: left;
		}

		img {
			width: auto;
		}
	}
}
