// importing Sass mixins
@use "../../../../assets/styles/abstracts" as abs;

.openedProject {
	position: fixed;
	top: 10vh;
	left: 5vh;
	z-index: 100;

	width: 90vw;

	dialog {
		position: relative;

		display: block;
		width: auto;

		.closeButton {
			position: absolute;
			top: 0rem;
			right: 0rem;

			font-size: 3rem;
			background-color: transparent;

			transform: translate(1rem, -1rem);

			transition: all 0.35s ease;

			cursor: pointer;

			&:is(:hover, :focus-visible) {
				color: var(--color-action);
			}

			& > ion-icon {
				pointer-events: none;
			}
		}

		h3 {
			padding-block: 1rem;

			font-size: 2rem;
			text-align: center;
		}

		.imageContainer {
			display: grid;
			grid-template-columns: 3rem 1fr 3rem;

			button {
				background-color: transparent;

				font-size: 3rem;

				transition: all 0.35s ease;

				cursor: pointer;

				&:is(:hover, :focus-visible) {
					background-color: var(--color-action);

					color: var(--color-light);
				}
			}

			img {
				display: block;
				width: 100%;
			}
		}
	}
}
