.pageFooter {
	padding-block: 4rem;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 3rem;

	background-color: var(--color-black);

	color: var(--color-white);

	user-select: none;

	&__item {
		&--upper {
			width: 100vw;

			display: flex;
			justify-content: space-around;
			align-items: center;

			section {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				gap: 3rem;

				h2 {
					text-align: left;
					user-select: text;

					color: var(--color-white);

					span {
						font-size: 1rem;
						font-weight: normal;
					}
				}

				.links--social {
					display: grid;
					place-items: center;
					grid-template-columns: repeat(3, 1fr);
					gap: 3rem;

					list-style: none;

					padding: 3rem;
					border-block: 0.1rem solid white;

					li {
						a {
							text-decoration: none;
							color: var(--color-lightgray);
							font-size: 1.85rem;
						}
					}
				}

				.links--pages {
					ul {
						display: grid;
						place-items: center;
						grid-template-columns: repeat(3, 1fr);
						gap: 2rem;

						list-style: none;

						a {
							text-decoration: none;
							color: var(--color-lightgray);
						}
					}
				}

				iframe {
					width: 25rem;
					height: 25rem;
				}
			}
		}

		&--under {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 2rem;

			list-style: none;

			li {
				color: var(--color-lightgray);

				a {
					color: var(--color-white);
					text-decoration: none;
				}
			}
		}
	}
}
