// importing Sass mixins
@use "../../assets/styles/abstracts" as abs;

.pageFooter {
	position: relative;
	padding-top: 4rem;
	padding-bottom: 2rem;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 3rem;

	background-color: var(--color-dark);
	overflow-x: hidden;
	isolation: isolate;

	&::before,
	&:after {
		content: "";
		position: absolute;

		z-index: 0;
		height: 20vh;
		width: 70vw;

		@include abs.mq(1400px, 0px) {
			height: 50vh;
			width: 50vw;
		}

		background-color: var(--color-primary-transparent);
	}

	&::before {
		top: 0;
		left: 30vw;

		@include abs.mq(1400px, 0px) {
			left: 50vw;
		}

		clip-path: polygon(0 0, 25% 0, 100% 75%, 100% 100%);
	}

	&::after {
		bottom: 0;
		right: 30vw;

		@include abs.mq(1400px, 0px) {
			right: 50vw;
		}

		clip-path: polygon(0 25%, 0 0, 100% 100%, 75% 100%);
	}

	&__item {
		&--upper {
			z-index: 1;

			width: 80vw;

			display: grid;
			grid-template-columns: repeat(1, 1fr);
			place-items: center;
			gap: 3rem;

			@include abs.mq(1400px, 0px) {
				grid-template-columns: repeat(2, 1fr);
				gap: 0rem;
			}

			section {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				gap: 3rem;

				h2 {
					text-align: center;
					letter-spacing: 0.05rem;
					color: var(--color-light);

					span {
						font-size: 1rem;
						font-weight: normal;
					}
				}

				.links--social {
					border-radius: 0.75rem;
					padding: clamp(1.5rem, 5vh, 3rem) clamp(1rem, 4vw, 3rem);
					border-block: 0.1rem solid var(--color-action);

					display: grid;
					place-items: center;
					grid-template-columns: repeat(3, 1fr);
					gap: clamp(2rem, 20vw, 3rem);

					list-style: none;

					li {
						a {
							text-decoration: none;
							color: var(--color-light);
							font-size: clamp(2rem, 5vw, 2.2rem);

							transition: all 0.35s ease;

							&:hover,
							&:focus-visible {
								color: var(--color-action);
							}

							&:active {
								opacity: 0.8;
							}

							ion-icon {
								pointer-events: none;
							}
						}
					}
				}

				.CVs {
					display: flex;
					flex-direction: column;
					gap: 2rem;

					a {
						color: var(--color-light);

						button {
							padding: 1rem;

							background-color: var(--color-primary);
							outline: 0.05rem solid var(--color-light);

							font-size: clamp(0.85rem, 1vw, 1.15rem);
							color: var(--color-light);

							transition: all 0.35s ease;

							cursor: pointer;

							&:hover,
							&:focus-visible {
								background-color: var(--color-dark);
								outline: 0.05rem solid var(--color-action);

								color: var(--color-action);
							}

							&:active {
								opacity: 0.8;
							}
						}
					}
				}

				.links--pages {
					ul {
						padding-bottom: 2rem;

						display: grid;
						place-items: center;
						grid-template-columns: repeat(2, 1fr);
						gap: 2rem;

						list-style: none;

						&:last-child {
							grid-template-columns: repeat(1, 1fr);
							padding-bottom: 0rem;
						}

						a {
							font-size: clamp(1rem, 6vw, 1.15rem);
							text-decoration: none;
							color: var(--color-light);
							letter-spacing: 0.05rem;

							transition: all 0.35s ease;

							&:hover,
							&:focus-visible {
								& > ion-icon {
									color: var(--color-action);
								}
							}

							&:active {
								color: var(--color-action);
							}

							ion-icon {
								pointer-events: none;

								transform: translate(-0.15rem, 0.15rem);

								transition: all 0.35s ease;
							}
						}

						.activeLink {
							color: var(--color-action);
						}
					}
				}

				img {
					max-width: 80vw;
					width: clamp(15rem, 20vw, 20rem);
					aspect-ratio: 9 / 12;

					user-select: none;
				}
			}
		}

		&--under {
			z-index: 1;

			list-style: none;
			text-align: center;

			li {
				padding-bottom: 1rem;

				color: var(--color-light);
				font-size: clamp(1rem, 4vw, 1.25rem);

				&:last-child {
					padding-top: 1rem;
					padding-bottom: 0rem;
				}

				button {
					padding: 0.75rem;
					border-radius: 1rem;

					opacity: 1;
					border-block: 0.1rem solid var(--color-light);
					background-color: transparent;

					color: var(--color-light);
					font-weight: bold;
					text-decoration: none;

					font-size: clamp(0.8rem, 3vw, 1rem);

					cursor: pointer;

					transition: all 0.35s ease;

					&:hover,
					&:focus-visible {
						border-block: 0.1rem solid var(--color-action);
					}

					&:active {
						color: var(--color-action);
					}
				}
			}
		}
	}
}
