// importing Sass mixins
@use "../../../../assets/styles/abstracts" as abs;

.filter {
	order: -1;

	@include abs.mq(1400px, 0px) {
		order: 0;
	}

	padding: clamp(0.75rem, 4vw, 2rem);

	background-color: var(--color-black-transparent);

	color: var(--color-white);

	&--container {
		position: sticky;
		top: 8rem;

		h3 {
			text-align: center;
			font-weight: bold;
			font-size: clamp(1.5rem, 4vw, 2rem);

			user-select: none;
		}

		form {
			display: flex;
			flex-direction: column;

			fieldset {
				display: flex;
				flex-direction: column;
				place-items: center;

				&:nth-child(1),
				&:nth-child(2) {
					padding-bottom: clamp(1rem, 3vh, 2rem);
					border-bottom: 1px solid var(--color-white);
				}

				legend {
					padding-block: clamp(1rem, 3vh, 2rem);

					text-align: center;
					font-weight: bold;
					font-size: clamp(1.25rem, 1.5vw, 1.75rem);

					user-select: none;
				}

				input[type="search"] {
					width: 80%;
					padding: 0.25rem;

					background-color: var(--color-lightgray);

					text-align: center;
					font-size: clamp(1.25rem, 1.5vw, 1.75rem);
					color: var(--color-blue);
					caret-color: var(--color-blue);

					transition: all 0.35s ease;

					&:hover,
					&:focus-visible,
					&:active {
						background-color: var(--color-white);
					}
				}

				ul {
					display: grid;

					grid-template-columns: repeat(2, 1fr);

					@include abs.mq(500px, 0px) {
						grid-template-columns: repeat(3, 1fr);
					}

					row-gap: 1.5rem;

					font-size: clamp(1rem, 1vw, 1.5rem);
					list-style: none;

					li {
						text-align: center;

						input {
							display: none;
						}

						label {
							padding: clamp(0.25rem, 1vw, 0.5rem);
							border-radius: 0.25rem;

							opacity: 0.8;
							outline: 0.1rem solid transparent;

							color: var(--color-lightgray);

							transition: all 0.35s ease;

							cursor: pointer;

							&:hover,
							&:focus-visible,
							&:active {
								opacity: 0.9;
								outline: 0.1rem solid var(--color-green);

								color: var(--color-white);
							}
						}

						.activeFilterInput {
							opacity: 1;
							outline: 0.1rem solid var(--color-orange);

							color: var(--color-white);

							transition: all 0.35s ease;
						}
					}
				}
			}
		}
	}
}
