// importing Sass mixins
@use "../../../../assets/styles/abstracts" as abs;

.filter {
	order: -1;

	@include abs.mq(1400px, 550px) {
		order: 0;
	}

	margin: 1rem 0;
	padding: 1rem;
	border-radius: 1rem;

	@include abs.mq(700px, 550px) {
		margin: 2rem 0;
		padding: 2rem;
	}

	background-color: var(--color-black-transparent);

	&--container {
		position: sticky;
		top: 5rem;
	}

	h3 {
		text-align: center;
		font-weight: bold;
		font-size: 1.25rem;

		@include abs.mq(700px, 550px) {
			font-size: 2.25rem;
		}

		user-select: none;
	}

	form {
		display: flex;
		flex-direction: column;
		gap: 1rem;

		//transform: scale(1, 0.1);
		transform-origin: top;

		@include abs.mq(1400px, 550px) {
			transform: scale(1, 1);
		}

		fieldset {
			display: flex;
			flex-direction: column;
			place-items: center;

			legend {
				padding-block: 0.75rem;

				text-align: center;
				font-weight: bold;
				font-size: 1.5rem;

				@include abs.mq(700px, 550px) {
					padding-block: 1rem;

					font-size: 1.75rem;
				}

				user-select: none;
			}

			input[type="search"] {
				width: 80%;
				padding: 0.25rem;

				text-align: center;
				font-size: 1.5rem;
			}

			ul {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				place-items: left;
				row-gap: 1.5rem;

				font-size: 0.75rem;
				list-style: none;

				@include abs.mq(700px, 550px) {
					font-size: 1.15rem;
					grid-template-columns: repeat(3, 1fr);
				}

				@include abs.mq(1400px, 550px) {
					font-size: 1.25rem;
					grid-template-columns: repeat(2, 1fr);
				}

				li {
					text-align: center;

					input {
						display: none;
					}
					label {
						padding: 0.5rem 1rem;
						border-radius: 0.25rem;

						opacity: 0.8;
						background-color: var(--color-darkgray);
						outline: 0.1rem solid var(--color-darkgray);

						transition: all 0.25s ease;

						cursor: pointer;

						&:hover,
						&:focus-visible {
							opacity: 0.9;
							outline: 0.1rem solid var(--color-white);
						}

						&:active {
							opacity: 1;
							outline: 0.1rem solid var(--color-white);
						}
					}

					.activeFilterInput {
						opacity: 1;
						outline: 0.1rem solid var(--color-white);

						transition: all 0.25s ease;

						&:hover,
						&:focus-visible {
							opacity: 1;
						}
					}
				}
			}
		}
	}
}
