// importing Sass mixins
@use "../../assets/styles/abstracts" as abs;

.optionsPage {
	padding-block: clamp(1.5rem, 15vh, 4rem);
	padding-block: clamp(1.5rem, 15svh, 4rem);

	display: flex;
	flex-direction: column;
	gap: clamp(1.5rem, 15vh, 4rem);
	gap: clamp(1.5rem, 15svh, 4rem);

	background-color: var(--color-primary-transparent);

	color: var(--color-light);

	h3 {
		text-align: center;
		font-size: clamp(1.6rem, 7vw, 2rem);
	}

	ul {
		display: grid;
		grid-template-columns: repeat(1, 1fr);

		@include abs.mq(1400px, 0px) {
			grid-template-columns: repeat(4, 1fr);
		}

		place-items: center;
		gap: clamp(1.5rem, 15vh, 4rem);
		gap: clamp(1.5rem, 15svh, 4rem);

		list-style: none;

		li {
			display: block;

			opacity: 0;

			transform: translateY(20vh);
			transform: translateY(20svh);
			transition: all 0.35s ease;

			button {
				display: block;

				outline: 0.1rem solid var(--color-primary);
				outline-offset: 0.25rem;

				cursor: pointer;

				transition: all 0.35s ease;

				user-select: none;

				&:hover,
				&:focus-visible {
					outline: 0.1rem solid var(--color-action);
				}

				&:active {
					outline: 0.1rem solid var(--color-action);

					opacity: 0.8;
				}

				img {
					display: block;

					width: clamp(15rem, 20vw, 25rem);
					aspect-ratio: 16 / 9;
				}
			}

			p {
				padding-block: 1rem;

				opacity: 0;

				text-align: center;
				color: var(--color-light);
				font-size: clamp(1rem, 3vw, 1.2rem);
				font-weight: bold;
				letter-spacing: 0.05rem;

				transform: translateY(5vh);
				transform: translateY(5svh);
				animation: text-fade-in 0.35s ease 0.5s;
				animation-fill-mode: both;
			}
		}

		.themeVissible {
			opacity: 1;
			transform: translateY(0vh);
			transform: translateY(0svh);
		}
	}
}

@keyframes text-fade-in {
	0% {
		opacity: 0;

		transform: translateY(5vh);
	}

	100% {
		opacity: 1;

		transform: translateY(0vh);
	}
}
