// importing Sass mixins
@use "../../assets/styles/abstracts" as abs;

.contactPage {
	padding-block: clamp(1.5rem, 15vh, 4rem);

	display: grid;
	grid-template-columns: repeat(1, 1fr);

	@include abs.mq(1400px, 0px) {
		grid-template-columns: repeat(2, 1fr);
	}

	place-items: center;
	gap: clamp(1.5rem, 15vh, 4rem);

	background-color: var(--color-primary-1-transparent);

	img {
		width: clamp(15rem, 20vw, 20rem);
		aspect-ratio: 1 / 1;

		border-radius: 4rem 1rem;

		user-select: none;
	}

	ul {
		margin: 0 auto;
		padding-inline: 1rem;

		list-style: none;

		text-align: center;

		li {
			padding-block: clamp(1rem, 5vh, 2rem);

			font-size: clamp(1.1rem, 4vw, 1.5rem);
			color: var(--color-light);

			ion-icon {
				pointer-events: none;

				transform: translate(-0.5rem, 0.15rem);
			}

			span {
				font-size: clamp(1.3rem, 5vw, 1.75rem);
				font-weight: bold;
			}
		}
	}
}
