// importing Sass mixins
@use "../../assets/styles/abstracts" as abs;

.contactPage {
	padding-block: clamp(1.5rem, 15vh, 4rem);

	display: grid;
	grid-template-columns: repeat(1, 1fr);

	@include abs.mq(1400px, 0px) {
		grid-template-columns: repeat(2, 1fr);
	}

	place-items: center;
	gap: clamp(1.5rem, 15vh, 4rem);

	background-color: var(--color-primary-transparent);
	overflow-x: hidden;

	.contactsImageContainer {
		position: relative;
		display: grid;
		place-items: center;

		border-radius: 50%;
		width: clamp(20rem, 25vw, 25rem);
		height: clamp(20rem, 25vw, 25rem);

		overflow: hidden;
		opacity: 0;
		background-image: url("../../assets/images/profileBackground.jpg");

		transform: translateX(-10vw);

		img {
			position: absolute;

			width: clamp(15rem, 20vw, 20rem);
			aspect-ratio: 9 / 12;

			user-select: none;

			transform: rotateY(180deg);
		}
	}

	.imageVissible {
		opacity: 1;

		transform: translateX(0);

		transition: all 0.35s ease 0.25s;
	}

	ul {
		margin: 0 auto;
		padding-inline: 1rem;

		list-style: none;

		text-align: center;

		li {
			padding-block: clamp(1rem, 5vh, 2rem);

			opacity: 0;

			font-size: clamp(1.1rem, 4vw, 1.5rem);
			color: var(--color-light);

			transform: translateX(10vw);

			ion-icon {
				pointer-events: none;

				transform: translate(-0.5rem, 0.15rem);
			}

			span {
				font-size: clamp(1.3rem, 5vw, 1.75rem);
				font-weight: bold;
			}
		}

		.CVs {
			display: flex;
			gap: 2rem;

			z-index: 1;
			opacity: 0;

			transform: translateX(20vw);

			a {
				color: var(--color-light);

				button {
					padding: 1rem;

					background-color: var(--color-primary);
					outline: 0.05rem solid var(--color-light);

					font-size: clamp(1rem, 1vw, 1.25rem);
					color: var(--color-light);

					transition: all 0.35s ease;

					cursor: pointer;

					&:hover,
					&:focus-visible {
						background-color: var(--color-dark);
						outline: 0.05rem solid var(--color-action);

						color: var(--color-action);
					}

					&:active {
						opacity: 0.8;
					}
				}
			}
		}

		.itemVissible {
			opacity: 1;

			transform: translateX(0vw);

			transition: all 0.35s ease;

			&:nth-child(1) {
				transition-delay: 0.5s;
			}

			&:nth-child(2) {
				transition-delay: 0.75s;
			}

			&:nth-child(3) {
				transition-delay: 1s;
			}
		}
	}
}
